body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('berlin.webp');
  background-size: cover;
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.calculator {
  width: 300px;
  background-color: #000;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.display {
  background-color: #333;
  color: #fff;
  text-align: right;
  font-size: 2.5em;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 7px;
}

.button {
  background-color: #333;
  color: #fff;
  font-size: 1.5em;
  padding: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: gray;
}

.operator {
  background-color: #ff9500;
}

.operator:hover {
  background-color: #e08900;
}

.zero {
  grid-column: span 2;
}
